/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

.task {
    background-color: #006666;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.task:after {
    content: "";
    display: table;
    clear: both;
}
